
#dress-banner {
    padding: 250px 0 200px 0;
    background: url(../images/derrs.banner.jpg) no-repeat center / cover;
    margin-bottom: 50px;
    .dress-banner-head {
        text-align: center;
        h1 {
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-weight: 600;
            color: #78A206;
        }
        p {
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            font-size: 25px;
        }
    }
}