#laptop-banner {
    padding: 250px 0 200px 0;
    margin-bottom: 30px;
    background: url(../images/laptop-banner.jpg) no-repeat center / cover;
    .laptop-banner-head {
        text-align: center;
        h1 {
            text-transform: uppercase;
            font-family: 'Oswald', sans-serif;
            font-weight: 600;
            color: #fff;
        }
        p {
            font-family: 'Oswald', sans-serif;
            font-weight: 500;
            font-size: 25px;
            color: #fff;
        }
    }
}