
#location {
    padding: 0 0 50px 0;
    .location-place {
        iframe {
            width: 100%;
            height: 400px;
        }
    }
}


#contact-form {
    padding: 70px 0;
    .contact-form-main {
        text-align: center;
        form {
            padding: 30px 40px;
            background-color: #F7F6F2;
            max-width: 800px;
            display: inline-block;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
            h4 {
                font-family: 'Oswald', sans-serif;
                font-weight: 600;
                font-size: 35px;
            }
            p {
                font-family: 'Oswald', sans-serif;
                font-weight: 400;
                padding: 0 70px;
            }
            .input-box {
                display: flex;
                justify-content: space-between;
                input {
                    width: calc(50% - 10px);
                    background-color: #fff;
                    border: none;
                    outline: none;
                    padding: 10px 20px;
                    margin: 10px 0;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    font-family: 'Oswald', sans-serif;
                    font-weight: 600;
                    color: black;
                }
            }
            button {
                width: 150px;
                margin: 50px 0;
                border: 1px solid rgb(209, 208, 208);
                outline: none;
                padding: 10px 25px;
                background-color: #fff;
                color: black;
                font-family: 'Oswald', sans-serif;
                font-weight: 600;
                font-size: 13px;
                text-transform: uppercase;
                border-radius: 40px;
                -webkit-border-radius: 40px;
                -moz-border-radius: 40px;
                -ms-border-radius: 40px;
                -o-border-radius: 40px;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                -moz-transition: 0.5s;
                -ms-transition: 0.5s;
                -o-transition: 0.5s;
                &:hover {
                    background-color: #78A206;
                    color: #fff;
                    border: 1px solid transparent;
                }
            }
        }
    }
}