
#stories {
    background: url(https://cdn.shopify.com/s/files/1/0162/3932/9344/files/5.jpg?v=1613757694) no-repeat center / cover;
    padding: 70px 0;
    .stories-text {
        h3 {
            font-family: 'Oswald', sans-serif;
            font-weight: 300;
            span {
                color: #78A206;
            }
        }
        h2 {
            font-family: 'Roboto Slab', serif;
            font-size: 80px;
        }
        h4 {
            font-family: 'Oswald', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            color: #78A206;
            font-size: 35px;
            margin-top: 20px;
        }
        p {
            margin-top: 30px;
            padding: 0 700px 0 0;
            font-family: 'Raleway', sans-serif;
            font-size: 17px;
        }
        a {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
            color: black;
            border: 2px solid black;
            padding: 10px 30px;
            margin-top: 50px;
            border-radius: 40px;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
            font-family: 'Oswald', sans-serif;
            font-weight: 600;
            transition: 0.5s;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            &:hover {
                background-color: #78A206;
                color: #fff;
                border: 2px solid transparent;
            }
        }
    }
}